[submodule "third_party/ipu6-camera-hal"]
	path = third_party/ipu6-camera-hal
	url = https://github.com/intel/ipu6-camera-hal.git
[submodule "third_party/ipu6-drivers"]
	path = third_party/ipu6-drivers
	url = https://github.com/intel/ipu6-drivers.git
